.mb-3{
    padding: 10px 10px;
    padding-left: 10px;
    
}


form .mb-3{
    width: 100%;
    
    padding-left: 0px;
    padding-top: 40px;
    margin-left: 100px;
    
}

.form1{ 
    width: max-content;
    align-items: center;
    color: black;

}

.pho{
    width: 1000px;
}

.container{
    overflow: hidden;
    text-align: center;
  }
  

