form{
    
    
    align-items: center;
    margin-top: 10px;
    



}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form .mb-4{
    width: 100%;
    align-items: center;
    padding-left :0px;
    padding-top: 10px;
    margin-left: 55px;
    padding-right: 200px;
    color: black;
    

}






